.d-flex-center {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pointer :hover {
    cursor: pointer;
}

.align-left {
    text-align: left;
}

.margin-center {
    margin-left: 33%;
}